* {
  box-sizing: border-box;
}

header {
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
}

.nav__wrapper {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__title {
  height: 100%;
  width: 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__title-icon {
  width: 20%;
  height: 100%;
}

.nav__h3 {
  width: 75%;
  font-family: Rubik;
  font-style: normal;

  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  color: #0b132a;
}

.nav__lists-container {
  width: 40%;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  height: 100%;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #4f5665;
}

li:hover {
  color: #f53855;
}

.nav__button-container {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.button__sign-in {
  width: 45%;
  height: 100%;
  border-style: none;

  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  background-color: rgba(0, 0, 0, 0);

  color: #0b132a;
}

.button__sign-up {
  width: 45%;
  height: 100%;
  border: 1px solid #f53855;
  box-sizing: border-box;
  border-radius: 50px;

  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  background-color: rgba(0, 0, 0, 0);

  color: #f53855;
}

.toggle-button {
  width: 20%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.toggle-button .bar {
  width: 100%;
  height: 3px;
  background-color: rgba(53, 49, 49, 0.863);
}

@media (max-width: 1000px) {
  .nav__lists-container {
    display: none;
  }

  .nav__title {
    width: 35%;
    justify-content: flex-start;
  }

  .nav__button-container {
    width: 45%;
  }

  .toggle-button {
    display: flex;
  }

  .toggle-button .bar {
    width: 35%;
  }

  .nav__lists-container.active {
    position: absolute;
    top: 10%;
    left: 30%;
    right: 10%;
    width: 60%;
    height: 70%;
    display: flex;
    background-color: silver;
    justify-content: flex-end;
    padding-right: 5%;
  }

  .nav__ul {
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }
}

.header__section {
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section__content {
  width: 50%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.section__image {
  width: 45%;
  height: 85%;
}

.section__image img {
  width: 43vw;
  height: 100%;
}

.section__title {
  width: 100%;
  height: 30%;
}

.section__title h1 {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  /* or 140% */

  color: #0b132a;
}

.section__paragraph {
  width: 100%;
  height: 20%;
}

.section__paragraph p {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* or 187% */

  color: #4f5665;
}

.section__button-container {
  width: 45%;
  height: 21%;
  position: relative;
  display: flex;
  position: relative;
}

.section__button {
  width: 100%;
  height: 80%;
  border-style: none;
  position: relative;
  background: #f53838;
  border-radius: 10px;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  /* identical to box height, or 156% */
  z-index: 2;
  color: #fff;
}

.button-shadow {
  width: 90%;
  height: 70%;
  position: absolute;
  bottom: 0;
  left: 5%;
  z-index: 1;

  background: rgba(245, 56, 56, 0.35);
  filter: blur(15px);
  border-radius: 10px;
}

.platform {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  background-color: #fff;
}

.platform__content {
  width: 33.3%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(233, 184, 184, 0.863);
}
